services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: test-docker
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - "4005:4000"