services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: test-docker
    restart: unless-stopped
    networks:
      - nginx-network

networks:
  nginx-network:
    external: true