services:
  web:
    build: .
    container_name: nextjs-app
    ports:
      - "127.0.0.1:4002:3000"
    environment:
      - NODE_ENV=development
      - NEXT_DISABLE_TURBOPACK=1
      - NODE_OPTIONS=--max-old-space-size=4096 npm run dev
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - .git/
        - action: rebuild
          path: package.json
        - action: sync+restart
          path: next.config.js
          target: /app  # <-- Obligatoire !

